*{
    margin:0;
    padding:0;
    list-style:none;
}

.cf:after{
    content:'';
    display:block;
    clear:both;
}

.fl{
    float:left;
}
.fr{
    float:right;
}
html,body{
    background-color:#fff;
}

#header{
    background-color:rgba(0,0,0,0.8);
    padding:0 50px;
}
.class-list{
    height:100%;
    margin-right:20px;
    padding:0 10px;
    line-height:50px;
    cursor: pointer;
    color:#fff;
}

#content{
    display: flex;
    padding:0 50px;
}